body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7.375rem;
  background-color: #2b2d31;
}

.logo {
  margin-bottom: 12.375rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 622px;
}

.tasks__header {
  width: 100%;
  border-bottom: 1px solid #3c4043;
  margin-bottom: 5rem;
}

.tasks__header h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.25rem;
}

.tasks__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.tasks__content span:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.tasks__content span:nth-of-type(2) {
  font-size: 0.875rem;
  color: #bdbdbd;
}

.tasks__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-family: inherit;
  font-size: inherit;
  color: #989898;
  width: 100%;
  background-color: transparent;
  padding: 1.5rem 0;
  border: 0.125rem solid #989898;
  border-style: dashed;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tasks__button:hover {
  color: #ffffff;
  border: 0.125rem solid #ffffff;
  border-style: dashed;
}

.tasks__button:hover svg path {
  stroke: #ffffff;
}