*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.375rem;
  background-color: #2b2d31;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input:focus,
textarea:focus,
textarea:focus-visible {
  outline: 0;
}

.logo {
  margin-bottom: 5rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 622px;
}

.tasks__header {
  width: 100%;
  border-bottom: 1px solid #3c4043;
}

.tasks__header h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.25rem;
}

.tasks__content-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.tasks__content-empty span:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.tasks__content-empty span:nth-of-type(2) {
  font-size: 0.875rem;
  color: #bdbdbd;
}

.tasks__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tasks__content:not(:empty) {
  margin: 3rem 0;
}

.tasks__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #3c4043;
  position: relative;
}

.tasks__item:hover {
  background-color: #35373c;
}

.tasks__item input[type="checkbox"] {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
}

.tasks__item-checkbox {
  position: relative;
}

.tasks__item-checkbox > img {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tasks__item input[type="checkbox"]:checked + .tasks__item-checkbox img {
  opacity: 1;
}

.tasks__item input[type="checkbox"]:checked + .tasks__item-checkbox svg path {
  fill: #4772fa;
}

.tasks__item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tasks__item input[type="checkbox"]:checked ~ .tasks__item-info > * {
  text-decoration: line-through;
}

.tasks__item-info p {
  font-size: 0.75rem;
}

/* .tasks__item-edit-button, .tasks__item-delete-button {
  cursor: pointer;
} */

.tasks__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: #989898;
  width: 100%;
  padding: 1.5rem 0;
  border: 0.125rem solid #989898;
  border-style: dashed;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}

.tasks__button:hover {
  color: #ffffff;
  border: 0.125rem solid #ffffff;
  border-style: dashed;
}

.tasks__button:hover svg path {
  stroke: #ffffff;
}

.sidebar {
  height: 100vh;
  /* max-height: 100%; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #2b2d31;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.sidebar.open {
  transform: translateX(0%);
}

.sidebar__drop-shadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(4px);
  user-select: none;
  visibility: hidden;
}

.sidebar__drop-shadow.open {
  visibility: visible;
}

.sidebar__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 11.275rem;
}

.sidebar__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.sidebar__close-button:hover {
  background-color: #444444;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 422px;
  margin-top: 12.75rem;
  margin-bottom: 5rem;
}

.sidebar__header span:first-of-type {
  color: #bdbdbd;
}

.sidebar__header span:nth-of-type(2) {
  font-size: 1.5rem;
}

.sidebar__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar__form div:first-of-type,
.sidebar__form div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar__form div input,
.sidebar__form div textarea {
  background-color: #35373c;
  padding: 0.625rem 1rem;
  border: 1px solid #535353;
  border-radius: 0.5rem;
}

.sidebar__form div textarea {
  height: 168px;
  margin-bottom: 5rem;
  resize: none;
}

.sidebar__form div:nth-of-type(3) {
  display: flex;
  align-items: center;
  gap: 2rem;
  align-self: flex-end;
}

.sidebar__form div:nth-of-type(3) button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.sidebar__form div:nth-of-type(3) .form__close-button:hover {
  background-color: #444444;
}

.sidebar__form div:nth-of-type(3) .form__save-button {
  background-color: #1d46ca;
}

.sidebar__form div:nth-of-type(3) .form__save-button:hover {
  background-color: #11276e;
}
